@import './jam.min.scss';

.styleList {
    border: 2px solid #906090;
    color: #906090;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 500px;
}

p {
    margin: 0;
}

.row {
    display: flex;
    flex-flow: row;
    width: 300px;
}

.colorDiv {
    align-items: center;
    color: white;
    display: flex;
    flex-flow: column;
    height: 100px;
    justify-content: center;
    width: 100px;
    font-size: 30px;
}